<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <style>
    container {
      width: 100%;
    }

    sidebar {
      float: left;
      width: 350px;
      margin: 0;
      padding: 1em;
    }

    #canvas {
      position: absolute;
      border: 0px;
      left: 350px;
      width: calc(100% - 350px);
      height: 100%;
      overflow: auto;
    }

    * {
      border-style: none;
      border-width: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: Helvetica, Arial, sans-serif;
      margin: 0;
      outline: 0;
      overflow: visible;
      padding: 0;
    }

    .flat-radio .flat-radio-btn {
      -webkit-background-clip: content-box;
      background-clip: content-box;
      background-color: #fff;
      border-bottom: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;
      border-top: 1px solid #c4c4c4;
      color: #aaa;
      cursor: pointer;
      float: left;
      font-size: 12px;
      line-height: 23px;
      padding-left: 1px;
      padding-top: 1px;
      text-align: center;
    }

    .flat-radio .flat-radio-btn.first {
      border-left: 1px solid #c4c4c4;
    }
  </style>
</head>

<body>
  <div class="container">
    <sidebar>

      <div class="no-top-padding flat-radio ng-isolate-scope" label="width" model="dimensions.width">
        <!-- ngIf: label -->
        <div class="flat-radio-label ng-binding ng-scope" ng-if="label">폭(W)</div>
        <!-- end ngIf: label -->
        <div class="flat-radio-buttons">
          <!-- ngRepeat: entry in options -->
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope first" onclick="setWidth(700)" style="width: 14%;">700</div>
          <div id="Width_1000" class="flat-radio-btn ng-binding ng-scope" onclick="setWidth(1000)" style="width: 14%;">1000</div>
          <div id="Width_1200" class="flat-radio-btn ng-binding ng-scope" onclick="setWidth(1200)" style="width: 14%;">1200</div>
          <div id="Width_1400" class="flat-radio-btn ng-binding ng-scope" onclick="setWidth(1400)" style="width: 14%;">1400</div>
          <div id="Width_1600" class="flat-radio-btn ng-binding ng-scope" onclick="setWidth(1600)" style="width: 14%;">1600</div>
          <div id="Width_1800" class="flat-radio-btn ng-binding ng-scope" onclick="setWidth(1800)" style="width: 14%;">1800</div>
          <div id="Width_2000" class="flat-radio-btn ng-binding ng-scope" onclick="setWidth(2000)" style="width: 14%;">2000</div>
        </div>
      </div>

      <div class="no-top-padding flat-radio ng-isolate-scope" label="depth" model="dimensions.depth">
        <!-- ngIf: label -->
        <div class="flat-radio-label ng-binding ng-scope" ng-if="label">깊이(D)</div>
        <!-- end ngIf: label -->
        <div class="flat-radio-buttons">
          <!-- ngRepeat: entry in options -->
          <div id="Depth_500" class="flat-radio-btn ng-binding ng-scope first" onclick="setDepth(500)" style="width: 20%;">500</div>
          <div id="Depth_600" class="flat-radio-btn ng-binding ng-scope" onclick="setDepth(600)" style="width: 20%;">600</div>
          <div id="Depth_700" class="flat-radio-btn ng-binding ng-scope" onclick="setDepth(700)" style="width: 20%;">700</div>
          <div id="Depth_800" class="flat-radio-btn ng-binding ng-scope" onclick="setDepth(800)" style="width: 20%;">800</div>
          <div id="Depth_900" class="flat-radio-btn ng-binding ng-scope" onclick="setDepth(900)" style="width: 20%;">900</div>
        </div>
      </div>

      <div class="no-top-padding flat-radio ng-isolate-scope" label="board_color">
        <!-- ngIf: label -->
        <div class="flat-radio-label ng-binding ng-scope" ng-if="label">상판색상</div>
        <!-- end ngIf: label -->
        <div class="flat-radio-buttons">
          <!-- ngRepeat: entry in options -->
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope first" onclick="setBoardColor(1)" style="width: 14%;">화이트</div>
          <div id="Width_1000" class="flat-radio-btn ng-binding ng-scope" onclick="setBoardColor(2)" style="width: 12%;">블랙</div>
          <div id="Width_1200" class="flat-radio-btn ng-binding ng-scope" onclick="setBoardColor(3)" style="width: 14%;">그레이</div>
          <div id="Width_1400" class="flat-radio-btn ng-binding ng-scope" onclick="setBoardColor(4)" style="width: 14%;">내추럴</div>
          <div id="Width_1600" class="flat-radio-btn ng-binding ng-scope" onclick="setBoardColor(5)" style="width: 12%;">파인</div>
          <div id="Width_1800" class="flat-radio-btn ng-binding ng-scope" onclick="setBoardColor(6)" style="width: 16%;">콘크리트</div>
          <div id="Width_2000" class="flat-radio-btn ng-binding ng-scope" onclick="setBoardColor(7)" style="width: 16%;">레드파인</div>
        </div>
      </div>

      <div class="no-top-padding flat-radio ng-isolate-scope" label="board_color">
        <!-- ngIf: label -->
        <div class="flat-radio-label ng-binding ng-scope" ng-if="label">프레임색상</div>
        <!-- end ngIf: label -->
        <div class="flat-radio-buttons">
          <!-- ngRepeat: entry in options -->
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope first" onclick="setFrameColor(1)" style="width: 33%;">화이트</div>
          <div id="Width_1000" class="flat-radio-btn ng-binding ng-scope" onclick="setFrameColor(2)" style="width: 33%;">블랙</div>
          <div id="Width_1200" class="flat-radio-btn ng-binding ng-scope" onclick="setFrameColor(3)" style="width: 33%;">그레이</div>
        </div>
      </div>

      <div class="no-top-padding flat-radio ng-isolate-scope" label="board_color">
        <!-- ngIf: label -->
        <div class="flat-radio-label ng-binding ng-scope" ng-if="label">수직부재</div>
        <!-- end ngIf: label -->
        <div class="flat-radio-buttons">
          <!-- ngRepeat: entry in options -->
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope first" onclick="setVertical(1)" style="width: 25%;">없음</div>
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope" onclick="setVertical(2)" style="width: 25%;">640</div>
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope" onclick="setVertical(3)" style="width: 25%;">920</div>
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope" onclick="setVertical(4)" style="width: 25%;">1860</div>
        </div>
      </div>

      <div class="no-top-padding flat-radio ng-isolate-scope" label="width" model="dimensions.width">
        <!-- ngIf: label -->
        <div class="flat-radio-label ng-binding ng-scope" ng-if="label">선반 갯수</div>
        <!-- end ngIf: label -->
        <div class="flat-radio-buttons">
          <!-- ngRepeat: entry in options -->
          <div id="Width_700" class="flat-radio-btn ng-binding ng-scope first" onclick="setShelfNum(1)" style="width: 14%;">1</div>
          <div id="Width_1000" class="flat-radio-btn ng-binding ng-scope" onclick="setShelfNum(2)" style="width: 14%;">2</div>
          <div id="Width_1200" class="flat-radio-btn ng-binding ng-scope" onclick="setShelfNum(3)" style="width: 14%;">3</div>
          <div id="Width_1400" class="flat-radio-btn ng-binding ng-scope" onclick="setShelfNum(4)" style="width: 14%;">4</div>
          <div id="Width_1600" class="flat-radio-btn ng-binding ng-scope" onclick="setShelfNum(5)" style="width: 14%;">5</div>
          <div id="Width_1800" class="flat-radio-btn ng-binding ng-scope" onclick="setShelfNum(6)" style="width: 14%;">6</div>
          <div id="Width_2000" class="flat-radio-btn ng-binding ng-scope" onclick="setShelfNum(7)" style="width: 14%;">7</div>
        </div>
      </div>


    </sidebar>

    <div id="canvas">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/86/three.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./TrackballControls.js"></script>

    <script>
      var container;
      var camera, controls, scene, renderer;
      var geometry, geometry1, material;

      var width, height = 700;

      var white_color = 0xf8f9fb;
      var black_color = 0x21201e;
      var gray_color = 0x6f6f6f;

      var texture_natural = new THREE.TextureLoader().load('texture/natural.jpg');
      var texture_pine = new THREE.TextureLoader().load('texture/pine.jpg');
      var texture_concrete = new THREE.TextureLoader().load('texture/concrete.jpg');
      var texture_redpine = new THREE.TextureLoader().load('texture/redpine.jpg');

      texture_natural.minFilter = THREE.LinearFilter;
      texture_pine.minFilter = THREE.LinearFilter;
      texture_concrete.minFilter = THREE.LinearFilter;
      texture_redpine.minFilter = THREE.LinearFilter;

      var plane;
      var plane_size = 10000;
      var plane_material = new THREE.MeshBasicMaterial( {color: white_color} );

      var board;
      var board_thickness = 30;
      var board_width = 1200;
      var board_depth = 700;
      var board_material = new THREE.MeshStandardMaterial({ color: white_color });

      var frame;
      var frame_thickness = 30;
      var frame_length = 650;
      var frame_material = new THREE.MeshStandardMaterial({ color: white_color });

      var vertical;
      var vertical_length;
      var vertical_y;

      var shelf;
      var shelf_depth = 200;
      var shelf_num = 1;
      var shelf_max_num = 1;

      var leg_pad;
      var leg_pad_meterial = new THREE.MeshStandardMaterial({ color: 0x1a181b});

      init();
      animate();

      function init() {
        container = document.getElementById('canvas');
        width = window.innerWidth - 350;
        height = window.innerHeight;

        camera = new THREE.PerspectiveCamera(60, width / height, 1, 10000);
        camera.position.y = 1000;
        camera.position.z = 3000;

        updateScene();

        // renderer
        renderer = new THREE.WebGLRenderer({ antialias: false });
        renderer.setClearColor(white_color);
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(width, height);

        container.appendChild(renderer.domElement);

        controls = new THREE.TrackballControls(camera, renderer.domElement);
        controls.rotateSpeed = 10.0;
        controls.zoomSpeed = 1.2;
        controls.panSpeed = 1.8;
        controls.noZoom = false;
        controls.noPan = false;
        controls.staticMoving = true;
        controls.dynamicDampingFactor = 1.0;

        controls.addEventListener('change', render);

        window.addEventListener('resize', onWindowResize, false);

        render();
      }

      function setWidth(w) {
        board_width = w;
        updateScene();
        render();
      }

      function setDepth(d) {
        board_depth = d;
        updateScene();
        render();
      }

      function getMaterial(color_code) {
        var material;

        switch (color_code) {
          case 1:
            material = new THREE.MeshStandardMaterial({ color: white_color });
            return material;
          case 2:
            material = new THREE.MeshStandardMaterial({ color: black_color });
            return material;
          case 3:
            material = new THREE.MeshStandardMaterial({ color: gray_color });
            return material;
          case 4:
            material = new THREE.MeshStandardMaterial({ map: texture_natural });
            return material;
          case 5:
            material = new THREE.MeshStandardMaterial({ map: texture_pine });
            return material;
          case 6:
            material = new THREE.MeshStandardMaterial({ map: texture_concrete });
            return material;
          case 7:
            material = new THREE.MeshStandardMaterial({ map: texture_redpine });
            return material;
          default:
            material = new THREE.MeshStandardMaterial({ color: white_color });
            return material;
        }
      }

      function setBoardColor(c) {
        board_material = getMaterial(c);
        updateScene();
        render();
      }

      function setFrameColor(c) {
        frame_material = getMaterial(c);
        updateScene();
        render();
      }

      function setVertical(c) {
        switch (c) {
          case 1:
            vertical_length = 0;
            break;
          case 2:
            vertical_length = 640;
            vertical_y = -70;
            shelf_max_num = 3;
            break;
          case 3:
            vertical_length = 920;
            vertical_y = -150;
            shelf_max_num = 5;
            break;
          case 4:
            vertical_length = 1860;
            vertical_y = 350;
            shelf_max_num = 7;
            break;
          default:
            vertical_length = 0;
            break;
        }

        updateScene();
        render();
      }

      function setShelfNum(n) {
        shelf_num = n;
        updateScene();
        render();
      }

      function updateScene() {
        // world
        scene = new THREE.Scene();

        // plane
        geometry = new THREE.PlaneGeometry(plane_size, plane_size);
        plane = new THREE.Mesh(geometry, plane_material);
        plane.rotation.x = -0.5 * Math.PI;
        scene.add(plane);

        // board
        geometry = new THREE.BoxBufferGeometry(board_width, board_thickness, board_depth);
        board = new THREE.Mesh(geometry, board_material);
        board.position.y = frame_length + board_thickness;
        scene.add(board);

        // frame (leg)
        geometry = new THREE.BoxBufferGeometry(frame_thickness, frame_length, frame_thickness);
        frame = new THREE.Mesh(geometry, frame_material);
        frame.position.x = - (board_width - frame_thickness) / 2;
        frame.position.y = - (frame_length + board_thickness) / 2;
        frame.position.z = - (board_depth - frame_thickness) / 2;
        board.add(frame);

        // leg pad
        geometry1 = new THREE.ConeBufferGeometry(frame_thickness / 1.5, frame_thickness * 1.5);
        leg_pad = new THREE.Mesh(geometry1, leg_pad_meterial);
        leg_pad.position.y -= (frame_length / 2 - 10);
        frame.add(leg_pad);

        frame = new THREE.Mesh(geometry, frame_material);
        frame.position.x = (board_width - frame_thickness) / 2;
        frame.position.y = - (frame_length + board_thickness) / 2;
        frame.position.z = - (board_depth - frame_thickness) / 2;
        board.add(frame);

        geometry1 = new THREE.ConeBufferGeometry(frame_thickness / 1.5, frame_thickness * 1.5);
        leg_pad = new THREE.Mesh(geometry1, leg_pad_meterial);
        leg_pad.position.y -= (frame_length / 2 - 10);
        frame.add(leg_pad);

        frame = new THREE.Mesh(geometry, frame_material);
        frame.position.x = - (board_width - frame_thickness) / 2;
        frame.position.y = - (frame_length + board_thickness) / 2;
        frame.position.z = (board_depth - frame_thickness) / 2;
        board.add(frame);

        geometry1 = new THREE.ConeBufferGeometry(frame_thickness / 1.5, frame_thickness * 1.5);
        leg_pad = new THREE.Mesh(geometry1, leg_pad_meterial);
        leg_pad.position.y -= (frame_length / 2 - 10);
        frame.add(leg_pad);

        frame = new THREE.Mesh(geometry, frame_material);
        frame.position.x = (board_width - frame_thickness) / 2;
        frame.position.y = - (frame_length + board_thickness) / 2;
        frame.position.z = (board_depth - frame_thickness) / 2;
        board.add(frame);

        geometry1 = new THREE.ConeBufferGeometry(frame_thickness / 1.5, frame_thickness * 1.5);
        leg_pad = new THREE.Mesh(geometry1, leg_pad_meterial);
        leg_pad.position.y -= (frame_length / 2 - 10);
        frame.add(leg_pad);

        // vertical
        if (vertical_length > 0) {
          if (shelf_num > shelf_max_num) {
            shelf_num = shelf_max_num;
          }

          geometry = new THREE.BoxBufferGeometry(frame_thickness, vertical_length, frame_thickness);
          vertical = new THREE.Mesh(geometry, frame_material);
          vertical.position.x = - (board_width - frame_thickness) / 2;
          vertical.position.y = vertical_y;
          vertical.position.z = - (board_depth + frame_thickness + 6) / 2;
          board.add(vertical);

          geometry = new THREE.BoxBufferGeometry(frame_thickness, vertical_length, frame_thickness);
          vertical = new THREE.Mesh(geometry, frame_material);
          vertical.position.x = + (board_width - frame_thickness) / 2;
          vertical.position.y = vertical_y;
          vertical.position.z = - (board_depth + frame_thickness + 6) / 2;
          board.add(vertical);

          // shelves
          var i;
          for (i = 0; i < shelf_num; i++) {
            geometry = new THREE.BoxBufferGeometry(board_width, board_thickness, shelf_depth);
            shelf = new THREE.Mesh(geometry, board_material);
            shelf.position.y = vertical_y + vertical_length * (0.5 - i / shelf_num);
            shelf.position.z = - (board_depth + shelf_depth) / 2;
            board.add(shelf);
          }

          // safety leg
          geometry = new THREE.BoxBufferGeometry(frame_thickness, frame_thickness, shelf_depth);
          frame = new THREE.Mesh(geometry, frame_material);
          frame.position.x = - (board_width - frame_thickness) / 2;
          frame.position.y = - frame_length;
          frame.position.z = - (board_depth + shelf_depth) / 2;
          board.add(frame);

          geometry = new THREE.BoxBufferGeometry(frame_thickness, frame_thickness, shelf_depth);
          frame = new THREE.Mesh(geometry, frame_material);
          frame.position.x = + (board_width - frame_thickness) / 2;
          frame.position.y = - frame_length;
          frame.position.z = - (board_depth + shelf_depth) / 2;
          board.add(frame);
        }

        // light
        var lights = [];
        lights[0] = new THREE.PointLight(0xffffff, 1, 0);
        lights[1] = new THREE.AmbientLight(white_color);

        lights[0].position.set(4000, 4000, 4000);

        scene.add(lights[0]);
        scene.add(lights[1]);
      }

      function onWindowResize() {
        container = document.getElementById('canvas');
        width = window.innerWidth - 350;
        height = window.innerHeight;

        camera.aspect = width / height;
        camera.updateProjectionMatrix();

        renderer.setSize(width, height);
        controls.handleResize();

        render();
      }

      function animate() {
        requestAnimationFrame(animate);
        controls.update();
      }
      
      function render() {
        renderer.render(scene, camera);
      }
    </script>
</body>

</html>